@font-face {
  font-family: Jost;
  src: url(Jost.woff2);
  display: swap;
  font-weight: 600;
}

body {
  color: black;
  background: white;
  text-align: center;
  font-family: "Jost";

  margin-top: 0;
margin-right: auto;
margin-bottom: 0;
margin-left: auto;
}

div {
	padding: 0px;
}

.pinkstripe {
	background-color: #FF2449;
	display: block;
	width: 280px;
    margin: 0 auto;
    height:100%;
	border-radius: 5px;

}

h1 {
  font-size: 1.2em;
  margin: 0px 0px 0px 0px;
  color: white;
}

button {
	background-color: #FF4269;
	display: block;
	color: white;
    margin: 0 auto;
	border-style: solid;
	outline: 0px;
	border: 0px;
	box-shadow: none;
	border-radius: 5px;
	align: center;
	font-size: 1.5em;
	font-family: "Jost";
	padding-bottom: 50px;
}

button:hover {
  background-color: #FF4278;
  cursor: pointer;
}

.centered{
   position:absolute;
top:50%;
left:50%;
width :200px;
height:200px;
margin-left:-100px;
margin-top:-100px;

}

.animated7s{
	animation: fadeIn ease 7s;
-webkit-animation: fadeIn ease 7s;
}

.animated15s{
	animation: fadeIn ease 15s;
-webkit-animation: fadeIn ease 15s;
}

.animated50s{
	animation: fadeIn ease 50s;
-webkit-animation: fadeIn ease 50s;
}


.animated1s{
	animation: fadeIn ease 1s;
-webkit-animation: fadeIn ease 1s;
}


@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.URL{
	color: #DA5A44;
	text-decoration:none;
}



h3{
  font-size: 2.2em;
  margin: 0px 0px 0px 0px;
  color: white;
}